<footer class="w3-center w3-black w3-padding-64">

    <button onclick="topFunction()" id="myBtn" class="w3-button w3-light-grey">
        <i class="fa fa-arrow-up w3-margin-right"></i>To the top</button>
    <div class="w3-xlarge w3-section">
        <div class="footerSocialIcons">
            <a href="https://www.facebook.com/Doctor-IT-and-Graphics-102538981282083/" target="_blank">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
            </a>
        </div>
        <div class="footerSocialIcons">
            <a href="https://www.instagram.com/doctor.it.graphics/" target="_blank">
                <i class="fa fa-instagram w3-hover-opacity"></i>
            </a>
        </div>
        <div class="footerSocialIcons">
            <a data-toggle="animatedModal10">
                <i class="fa fa-snapchat w3-hover-opacity"></i>
            </a>
        </div>
        <div class="footerSocialIcons">
            <a href="https://twitter.com/DrITandGraphics" target="_blank">
                <i class="fa fa-twitter w3-hover-opacity"></i>
            </a>
        </div>
        <!-- <div class="footerSocialIcons">
            <a href="">
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </a>
        </div> -->

    </div>
    <div class="reveal" id="animatedModal10" data-reveal data-close-on-click="true" data-animation-in="spin-in"
        data-animation-out="spin-out">
        <img id="snapchatCode" src="images/Snapchat.jpg"></img>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</footer>

<script src="../../js/vendor/jquery.js"></script>
<script src="../../js/vendor/what-input.js"></script>
<script src="../../js/vendor/foundation.js"></script>
<script src="../../js/app.js"></script>
<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>