<div class="menu-Tab-navigation w3-cell-row">
    <ul class="w3-container menu align-center menu-nav-properties" data-dropdown-menu>
      <li class="w3-cell">
        <a href="#">Industrial Stickers</a>
      </li>
      <li class="w3-cell">
        <a href="#">Custom Labels</a>
      </li>
      <li class="w3-cell">
        <a href="#">Brochures</a>
      </li>
      <li class="w3-cell">
        <a href="#">Window Graphics</a>
      </li>
      <li class="w3-cell">
        <a href="#">Business Cards</a>
      </li>
    </ul>
  </div>