<header>
  <div class="top-bar wrap-nav">
      <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text">
                  <a href="/">Doctor IT and Graphics</a>
              </li>
          </ul>
      </div>
      <div class="top-bar-right">
          <ul class="menu">
              <li>
                  <a href="about">About</a>
              </li>
              <li>
                  <a href="services">Services</a>
              </li>
              <li>
                  <a href="contact">Contact</a>
              </li>
          </ul>
      </div>
  </div>
</header>
