<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="body-index">
    <section class="hero">
      <div class="index-landing-properties align-center">
        <h1 class="front-Page-text">Doctor IT and Graphics Solution</h1>
        <p>
          We deal with all kinds of your printing needs! </br>
          Call Us today to get a free quote!
        </p>
        <a href="contact" class="button success normal-button">Contact Us</a>
        <a href="#" class="hollow button">Learn More</a>
      </div>

    </section>


  </div>
  <% include ../partials/menuStickers.ejs %>
  <% include ../partials/footer.ejs %>

  
</body>

</html>